<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<div class="report fluid" style="max-width: 1024px !important;">
    <div class="row header">
        <div class="col-2"></div>
        <div class="col-1">Факт</div>
        <div class="col">
            <div class="row graph-header">
                <div class="col first-graph-section" style="text-align: left;">-100%</div>
                <div class="col second-graph-section" style="text-align: center;">Норма</div>
                <div class="col third-graph-section" style="text-align: right;">100%</div>
            </div>
        </div>
        <div class="col-1">Инд. норма</div>
    </div>
    {% for row in data %}
        <div class="row {{ 'stripped' if loop.index % 2 == 0 }}">
            <div class="col-2 first-col {{ 'subgroup' if row.is_subgroup }}" >
                <span > {{ row.name }}</span>
            </div>
            <div class="col-1 second-col" >
                <span> {{ row.fact_value }}</span>
            </div>
            <div class="col graph">
                <div class="row">
                    <div class="col pa-0 ma-0 first-graph-section" style="text-align: left;">
                        {{(((('<div class="dot" style="background: rgb' + row.color + ' !important;"></div>') * row.first_section_cnt)) or '<span style="opacity: 0">1</span>') | safe}}
                    </div>
                    <div class="col pa-0 ma-0 second-graph-section" style="text-align: left;">
                        {{(((('<div class="dot" style="background: rgb' + row.color + ' !important;"></div>') * row.second_section_cnt)) or '<span style="opacity: 0">1</span>') | safe}}
                    </div>
                    <div class="col pa-0 ma-0 third-graph-section" style="text-align: left;">
                        {{(((('<div class="dot" style="background: rgb' + row.color + ' !important;"></div>') * row.third_section_cnt)) or '<span style="opacity: 0">1</span>') | safe}}
                    </div>
                </div>
            </div>
            <div class="col-1 reference">
                {% if row.min_reference and row.max_reference %}
                <span>
                    {{row.min_reference}} - {{row.max_reference}}
                </span>
                {% elif row.max_reference is none and row.min_reference is not none%}
                <span>{{ row.min_reference }} - ?</span>
                {% elif row.min_reference is none and row.max_reference is not none%}
                <span>? - {{ row.max_reference }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<style>
div {
    font-size: 8pt;
    margin: 0 !important;
}
div.stripped {
    background-color: rgb(245, 245, 245);
}
div.graph {
    /* border-left: 2px rgb(160, 180, 200) solid; */
    /* border-right: 2px rgb(160, 180, 200) solid; */
}
.subgroup, .reference {
    color: rgb(105, 130, 150);
    text-align: right;
    font-size: 7pt;
}
.reference {
    text-align: left;
}
.header {
    font-weight: bold;
}
.graph-header {
    font-weight: normal;
}
div.first-graph-section, div.second-graph-section, div.third-graph-section {
    border-left: 2px rgb(160, 180, 200) solid !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* z-index: -1 !important; */
}

div.first-graph-section > div,div.second-graph-section > div,div.third-graph-section > div {
    display: inline-block !important;
    padding: 0;
    margin: 0;
}

.dot {
  width: 1%;
  height: 8px;
  /* background: red; */
  padding: 0 !important;
  margin-right: 0px !important;
  z-index: 1 !important;
}
</style>